{% extends "base.html" %}

{% block content %}
     <h1> Add work form </h1>
      {% if message %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
            </div>
      {% endif %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.team_leader.label }}<br>
            {{ form.team_leader }}<br>
            {% for error in form.team_leader.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.job.label }}<br>
            {{ form.job }}<br>
            {% for error in form.job.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.work_size.label }}<br>
            {{ form.work_size }}<br>
            {% for error in form.work_size.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.collaborators.label }}<br>
            {{ form.collaborators }}<br>
            {% for error in form.collaborators.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p> {{ form.is_finished }}
            {{ form.is_finished.label }}
        </p>


        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}